*{
    box-sizing: border-box;
}
form{
    width:30%
}
ul {
    margin:0;
    list-style: none;
    width:200px;
    padding:10px;
    border:1px solid black
}

h4, h3{
    margin:0;
    margin-bottom: 5px;
    text-align: center;
}

li{
    background-color: rgb(199, 199, 199);
    margin:10px 0;
    word-wrap: break-word;
}

li div:nth-child(1) > *{
    cursor: pointer;

}

li > div:nth-child(2):hover{
    background-color: rgb(180, 180, 180);
    cursor: pointer;

}

li > div{
    padding:5px;

}


p {
    margin:0
}

textarea{
    max-width: 300px;
}

.container{
    display: flex;
    justify-content: center;
    gap:50px;
    flex-wrap:wrap
}

.note-description{
    min-width:300px;
    width:40%;
    height:600px;
    background-color: rgb(231, 218, 200);
    margin-right:20px;
    padding:10px 20px
}



.activated{
    background-color: rgb(180, 180, 180);

}


.edit-note{
    text-align: right;

    > span {
        background-color: rgb(39, 37, 58);
        padding:10px 20px;
        padding:5px;
        color:white;
        border-radius:5px;
        cursor: pointer;
    }
}